In [1]:
import numpy as mp
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df=pd.read_csv("US_Accidents_Dec21_updated.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845342 entries, 0 to 2845341
Data columns (total 47 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Severity               int64
 2   Start_Time             object
 3   End_Time               object
 4   Start_Lat              float64
 5   Start_Lng              float64
 6   End_Lat                float64
 7   End_Lng                float64
 8   Distance(mi)           float64
 9   Description            object
 10  Number                 float64
 11  Street                 object
 12  Side                   object
 13  City                   object
 14  County                 object
 15  State                  object
 16  Zipcode                object
 17  Country                object
 18  Timezone               object
 19  Airport_Code           object
 20  Weather_Timestamp      object
 21  Temperature(F)         float64
 22  Wind_Chill(F)          float64
 23  Humidity(%)            float64
 24  Pressure(in)           float64
 25  Visibility(mi)         float64
 26  Wind_Direction         object
 27  Wind_Speed(mph)        float64
 28  Precipitation(in)      float64
 29  Weather_Condition      object
 30  Amenity                bool
 31  Bump                   bool
 32  Crossing               bool
 33  Give_Way               bool
 34  Junction               bool
 35  No_Exit                bool
 36  Railway                bool
 37  Roundabout             bool
 38  Station                bool
 39  Stop                   bool
 40  Traffic_Calming        bool
 41  Traffic_Signal         bool
 42  Turning_Loop           bool
 43  Sunrise_Sunset         object
 44  Civil_Twilight         object
 45  Nautical_Twilight      object
 46  Astronomical_Twilight  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 773.4+ MB

In [4]:
df['Start_Time'] = pd.to_datetime(df['Start_Time'])
df['End_Time'] = pd.to_datetime(df['End_Time'])
#add column representing hour of the start of the accident
df['Day'] = (df['Start_Time']).dt.weekday
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Day
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,Night,Night,Night,Night,0
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,Night,Night,Night,Night,0
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,Night,Night,Night,Day,0
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,Night,Night,Day,Day,0
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,Day,Day,Day,Day,0

In [5]:
df['time'] = pd.to_datetime(df.Start_Time, format='%Y-%m-%d %H:%M:%S')
# df = df.set_index('time')
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Day,time
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,Night,Night,Night,Night,0,2016-02-08 00:37:08
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,Night,Night,Night,Night,0,2016-02-08 05:56:20
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,Night,Night,Night,Day,0,2016-02-08 06:15:39
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,Night,Night,Day,Day,0,2016-02-08 06:51:45
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,Day,Day,Day,Day,0,2016-02-08 07:53:43

In [6]:
df1 = df.drop(columns = ['Description','Number','Side','Zipcode','Country','Airport_Code','Weather_Timestamp','Nautical_Twilight','Astronomical_Twilight','Civil_Twilight','County']);

In [7]:
df1.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Street,...,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Day,time
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Outerbelt E,...,False,False,False,False,False,False,False,Night,0,2016-02-08 00:37:08
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,I-70 E,...,False,False,False,False,False,False,False,Night,0,2016-02-08 05:56:20
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,I-75 S,...,False,False,False,False,False,False,False,Night,0,2016-02-08 06:15:39
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,I-77 N,...,False,False,False,False,False,False,False,Night,0,2016-02-08 06:51:45
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,I-75 S,...,False,False,False,False,False,False,False,Day,0,2016-02-08 07:53:43

In [8]:
df1.isnull().sum()

ID                        0
Severity                  0
Start_Time                0
End_Time                  0
Start_Lat                 0
Start_Lng                 0
End_Lat                   0
End_Lng                   0
Distance(mi)              0
Street                    2
City                    137
State                     0
Timezone               3659
Temperature(F)        69274
Wind_Chill(F)        469643
Humidity(%)           73092
Pressure(in)          59200
Visibility(mi)        70546
Wind_Direction        73775
Wind_Speed(mph)      157944
Precipitation(in)    549458
Weather_Condition     70636
Amenity                   0
Bump                      0
Crossing                  0
Give_Way                  0
Junction                  0
No_Exit                   0
Railway                   0
Roundabout                0
Station                   0
Stop                      0
Traffic_Calming           0
Traffic_Signal            0
Turning_Loop              0
Sunrise_Sunset         2867
Day                       0
time                      0
dtype: int64

In [9]:
pmean = df1['Pressure(in)'].mean()
tmean = df1['Temperature(F)'].mean()
wcmean = df1['Wind_Chill(F)'].mean()
hmean = df1['Humidity(%)'].mean()
wsmean = df1['Wind_Speed(mph)'].mean()
prmean = df1['Precipitation(in)'].mean()

In [10]:
df1['Pressure(in)']=df1['Pressure(in)'].fillna(pmean)
df1['Temperature(F)'] = df1['Temperature(F)'].fillna(tmean)
df1['Wind_Chill(F)'] = df1['Wind_Chill(F)'].fillna(wcmean)
df1['Humidity(%)'] = df1['Humidity(%)'].fillna(hmean)
df1['Wind_Speed(mph)'] = df1['Wind_Speed(mph)'].fillna(wsmean)
df1['Precipitation(in)']=df1['Precipitation(in)'].fillna(prmean)

In [11]:
df1.isnull().sum()

ID                       0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Street                   2
City                   137
State                    0
Timezone              3659
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)       70546
Wind_Direction       73775
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition    70636
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset        2867
Day                      0
time                     0
dtype: int64

In [12]:
visMode = df1["Visibility(mi)"].mode()
df1['Visibility(mi)'] = df1['Visibility(mi)'].fillna(df1['Visibility(mi)'].mode()[0])
df1['Wind_Direction'] = df1['Wind_Direction'].fillna(df1['Wind_Direction'].mode()[0])
df1['Weather_Condition'] = df1['Weather_Condition'].fillna(df1['Weather_Condition'].mode()[0])
df1['Sunrise_Sunset'] = df1['Sunrise_Sunset'].fillna(df1['Sunrise_Sunset'].mode()[0])
df1['Street'] = df1['Street'].fillna(df1['Street'].mode()[0])
df1['Timezone'] = df1['Timezone'].fillna(df1['Timezone'].mode()[0])
df1['City'] = df1['City'].fillna(df1['City'].mode()[0])

In [13]:
df1.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Street,...,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Day,time
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Outerbelt E,...,False,False,False,False,False,False,False,Night,0,2016-02-08 00:37:08
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,I-70 E,...,False,False,False,False,False,False,False,Night,0,2016-02-08 05:56:20
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,I-75 S,...,False,False,False,False,False,False,False,Night,0,2016-02-08 06:15:39
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,I-77 N,...,False,False,False,False,False,False,False,Night,0,2016-02-08 06:51:45
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,I-75 S,...,False,False,False,False,False,False,False,Day,0,2016-02-08 07:53:43

In [14]:
df1.isna().sum()

ID                   0
Severity             0
Start_Time           0
End_Time             0
Start_Lat            0
Start_Lng            0
End_Lat              0
End_Lng              0
Distance(mi)         0
Street               0
City                 0
State                0
Timezone             0
Temperature(F)       0
Wind_Chill(F)        0
Humidity(%)          0
Pressure(in)         0
Visibility(mi)       0
Wind_Direction       0
Wind_Speed(mph)      0
Precipitation(in)    0
Weather_Condition    0
Amenity              0
Bump                 0
Crossing             0
Give_Way             0
Junction             0
No_Exit              0
Railway              0
Roundabout           0
Station              0
Stop                 0
Traffic_Calming      0
Traffic_Signal       0
Turning_Loop         0
Sunrise_Sunset       0
Day                  0
time                 0
dtype: int64

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845342 entries, 0 to 2845341
Data columns (total 38 columns):
 #   Column             Dtype
---  ------             -----
 0   ID                 object
 1   Severity           int64
 2   Start_Time         datetime64[ns]
 3   End_Time           datetime64[ns]
 4   Start_Lat          float64
 5   Start_Lng          float64
 6   End_Lat            float64
 7   End_Lng            float64
 8   Distance(mi)       float64
 9   Street             object
 10  City               object
 11  State              object
 12  Timezone           object
 13  Temperature(F)     float64
 14  Wind_Chill(F)      float64
 15  Humidity(%)        float64
 16  Pressure(in)       float64
 17  Visibility(mi)     float64
 18  Wind_Direction     object
 19  Wind_Speed(mph)    float64
 20  Precipitation(in)  float64
 21  Weather_Condition  object
 22  Amenity            bool
 23  Bump               bool
 24  Crossing           bool
 25  Give_Way           bool
 26  Junction           bool
 27  No_Exit            bool
 28  Railway            bool
 29  Roundabout         bool
 30  Station            bool
 31  Stop               bool
 32  Traffic_Calming    bool
 33  Traffic_Signal     bool
 34  Turning_Loop       bool
 35  Sunrise_Sunset     object
 36  Day                int64
 37  time               datetime64[ns]
dtypes: bool(13), datetime64[ns](3), float64(12), int64(2), object(8)
memory usage: 578.0+ MB

In [16]:
df1.rename(columns = {'Temperature(F)':'Temperature','Wind_Chill(F)':'Wind_Chill',
'Pressure(in)':'Pressure','Visibility(mi)':'Visibility','Wind_Speed(mph)':'Wind_Speed','Precipitation(in)':'Precipitation','Humidity(%)':'Humidity'}, inplace = True)

In [17]:
df1.rename(columns = {'Distance(mi)':'Distance'},inplace=True)

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845342 entries, 0 to 2845341
Data columns (total 38 columns):
 #   Column             Dtype
---  ------             -----
 0   ID                 object
 1   Severity           int64
 2   Start_Time         datetime64[ns]
 3   End_Time           datetime64[ns]
 4   Start_Lat          float64
 5   Start_Lng          float64
 6   End_Lat            float64
 7   End_Lng            float64
 8   Distance           float64
 9   Street             object
 10  City               object
 11  State              object
 12  Timezone           object
 13  Temperature        float64
 14  Wind_Chill         float64
 15  Humidity           float64
 16  Pressure           float64
 17  Visibility         float64
 18  Wind_Direction     object
 19  Wind_Speed         float64
 20  Precipitation      float64
 21  Weather_Condition  object
 22  Amenity            bool
 23  Bump               bool
 24  Crossing           bool
 25  Give_Way           bool
 26  Junction           bool
 27  No_Exit            bool
 28  Railway            bool
 29  Roundabout         bool
 30  Station            bool
 31  Stop               bool
 32  Traffic_Calming    bool
 33  Traffic_Signal     bool
 34  Turning_Loop       bool
 35  Sunrise_Sunset     object
 36  Day                int64
 37  time               datetime64[ns]
dtypes: bool(13), datetime64[ns](3), float64(12), int64(2), object(8)
memory usage: 578.0+ MB

In [19]:
df1.to_csv("US_accident_visualization.csv",index=False)